.slide-container{
    width: 40vw;
    .each-slide div{
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        height: 80vh;
        width: 40vw;
    }
    .default-nav{
        opacity: .05;
        transition: all .65s ease;
    }
    .default-nav:hover{
        opacity: 1;
    }
}
.thumnail{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        color: #fff;
        font-size: 1.5rem;
        span{
            color: #000;
            font-size: 3.5rem;
        }
        h2{
            color: #fff;
            font-size: 2.5rem;
        }
    }
}
.topic{
    padding-top: 150px;
    background: -webkit-gradient(linear, left top, right top, from(#f0f9ff), color-stop(0%, #aa7ad0), to(#d07acd));
	background: -o-linear-gradient(left, #f0f9ff 0%, #aa7ad0 0%, #d07acd 100%);
	background: linear-gradient(to right, #f0f9ff 0%, #aa7ad0 0%, #d07acd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#d07acd', GradientType=1);
}